body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 50px;
}

ul {
  list-style: none;
  float: right;
  margin-right: 60px;
  clear: both;
}
li {
  display: inline-block;
  padding: 15px 20px;
}

h1 {
  font-size: 100px;
  line-height: 10px;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
}
h2 {
  font-size: 60px;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  color: #363958;
  text-align: center;
}
h4 {
  font-size: 24px;
  color: #363958;
  margin: 20px auto;
  padding: 0;
}
p {
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 20px;
  color: #3e3e3e;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(0deg, #ff8063, #f46060);
  padding: 16px 40px;
  border-radius: 5px;
}

section {
  height: 500px;
  clear: both;
}

#about {
  height: 600px;
}

.highlightOrange {
  color: #ff8367;
}

.highlightDarkBlue {
  color: #363958;
}

.halfWidth {
  width: 39%;
  float: left;
  padding-left: 120px;
  margin-top: 10px;
}

.halfWidth img {
  width: 90%;
}

.mainLeft {
  padding-top: 15px;
}

.btn img {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

#projects {
  background-color: #f8f9fc;
  margin: auto;
  padding-top: 20px;
  height: 690px;
}

.boxes {
  width: 24%;
  float: left;
  background-color: #ffffff;
  padding: 15px 15px;
  margin: 10px 18px;
  border-radius: 10px;
  position: relative;
  left: 7%;
  margin-top: 30px;
  box-shadow: 0px 5px 20px #00000035;
}

.boxes img {
  width: 100%;
}

.boxes p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.workInquiry {
  width: 906px;
  height: 225px;
  background-image: url(../images/image-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  vertical-align: middle;
}

.workInquiryContent {
  display: inline-block;
  color: #fff;
}

.left {
  width: 43%;
  top: 28.5%;
  left: 5%;
  position: relative;
  float: left;
}

.left h1 {
  font-size: 60px;
}

.right {
  width: 43%;
  text-align: right;
  top: 48%;
  right: 5%;
  position: relative;
  float: right;
}

.inquirySection {
  height: 550px;
  padding-top: 100px;
  margin-left: -85px;
}

.stayConnected {
  text-align: center;
  margin-top: 90px;
}
.stayConnected h3,
.stayConnected h2 {
  margin: 0;
  padding: 0;
}

.stayConnected h3 {
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #696871;
}
.stayConnected h2 {
  font-weight: 600;
  font-family: "Roboto", cursive;
  font-size: 35px;
  color: #363958;
}
.socialIcons {
  margin-top: 30px;
}
.socialIcons img {
  width: 40px;
}

.whatIDo {
  height: 600px;
  background-color: #67aeff18;
  text-align: center;
}

.whatIDo h1 {
  margin: 0;
  padding: 0;
  line-height: 0px;
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 15px;
  color: #363958;
}

.items {
  margin-top: 60px;
}
.singleItem {
  height: 300px;
  width: 20%;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  padding-top: 16px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #57565620;
  margin: 0 10px;
}
.singleItem img {
  width: 30px;
  background-color: #ff8367;
  padding: 20px;
  border-radius: 100%;
}

.singleItem p {
  font-size: 16px;
}
